# Assets from the starter package

Assets/Materials & Textures/ Color Palette.png
Assets/Materials & Textures/ Color Palette.png.meta
Assets/Materials & Textures/ Rounded Rect 256.psd
Assets/Materials & Textures/ Rounded Rect 256.psd.meta
Assets/Materials & Textures/ UnlitAlpha.shader
Assets/Materials & Textures/ UnlitAlpha.shader.meta

Assets/Resources/ 2of12inf.txt
Assets/Resources/ 2of12inf.txt.meta

Assets/_Prefabs/ PrefabFloatingScore.prefab
Assets/_Prefabs/ PrefabFloatingScore.prefab.meta
Assets/_Prefabs/ Scoreboard.prefab
Assets/_Prefabs/ Scoreboard.prefab.meta

Assets/__Scripts/ ProtoTools
Assets/__Scripts/ ProtoTools.meta
